*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.countainer{
    width: 80%;
    min-height: 800px;
    margin: 10px auto;
}

.image{
    width: 30%;
    display: inline-block;
    margin-left: 2%;
    cursor: pointer;
    margin-bottom: 30px;
}
.image-top{
    position: relative;
    background-color: gray; 
}
img{
    max-width: 100%;
    display: block;
}
.image-bottom{
    min-height: 50px;
    font-size: 13px;
    padding-top: 6px;
    

}
.prezzo-new{
    color: red;
}
.prezzo-old{
    text-decoration-line: line-through;
    margin-left: 5px;
}
.image-top .seconda{
     position: absolute;
     left: 0;
     top: 0;
     display: none;
}
.image-top:hover .seconda{
    display: block;
}
.hearts{
    position: absolute;
    right: 0;
    top: 20px;
    font-size: 20px;
    background-color: white;
    padding: 5px 10px;
}
.image-top .sconto{
    position: absolute;
    bottom: 17px;
    font-size: 11px;
    color: white;
}
.valore{
    background-color: red;
}
.soste{
    background-color: green;
    margin-left: 3px;
}
.valore, .soste, .ultim-sost{
    padding: 3px 5px;
}
.ultim-sost{
    background-color: green;
}